.card {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.inner_right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1em;
}

.inner_right input {
  width: 100px;
  border: none;
  padding: 0.5em 1em;
}

.inner_right label {
  margin-right: 1em;
}

.inner_right button {
  border: none;
  padding: 0.5em 2em;
  background: #8a2b06;
  color: white;
  font-weight: 600;
  border-radius: 3em;
  cursor: pointer;
}

#amount {
  width: 100px;
}