.menus-list {
  padding: 0 2em;
}

.wrapper {
  margin: 250px auto 0 auto;
  padding: 2em;

  max-width: 1200px;
  background-color: beige;
}

@media (max-width: 550px) {
  .wrapper {
    margin: 150px auto 0 auto;
  }
}