.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #222222be;
  z-index: 9;
}

.content {
  background-color: whitesmoke;

  padding: 2em;
  width: 100%;
  max-width: 700px;
  z-index: 99;

  max-height: 600px;
  overflow-y: scroll;
}

.button-wrapper {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  margin-top: 4em;
}

.button-wrapper button {
  border: none;
  padding: 1em 2em;
  outline: 1px solid #8a2b0633;
  cursor: pointer;
  border-radius: 2em;
  transition: 0.3s;
}

.button-wrapper button:hover {
  transform: scale(1.05);
}

.button-wrapper button:first-child {
  /* color: #8a2b06; */
  background-color: white;
  
}

.button-wrapper button:last-child {
  background-color: #8a2b06;
  color: white;
  
}
