@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: #1d1d1d;
}

#root {
  padding-bottom: 100px;
}

.web-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.menu-card:not(:last-child) {
  border-bottom: 1px solid rgba(77, 77, 77, 0.288);
}